# In order to add, delete or modify a dependency, please update
# the reference here and then run:
# pip install pip-tools
# - `pip-compile --rebuild requirements.in`
# - `pip-compile --rebuild requirements-dev.in`

# See constraints https://raw.githubusercontent.com/apache/airflow/constraints-2.7.2/constraints-3.11.txt

apache-airflow-providers-amazon==8.7.1
apache-airflow-providers-mysql==5.3.1

mysqlclient==2.2.0